@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	/* Tema scuro */
	.dark {
		--background: 0 0% 10%; /* grigio scuro */
		--foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 0 0% 10%; /* grigio scuro */
		--card-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 83.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

/* Impostazioni generali */
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.item-primary {
		@apply bg-[var(--color-primary)] text-[var(--color-primary-text)] transition-all ease-in hover:bg-[var(--color-primary-hover)];
	}

	.bg-primary {
		@apply bg-[var(--color-primary)] text-[var(--color-primary-text)];
	}

	.text-primary {
		@apply text-[var(--color-primary)];
	}
}

html {
	font-family: 'Onest', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.grid-home {
	grid-template-rows: 1fr auto auto;
}
.grid-chat-nav {
	grid-template-columns: auto 1fr auto;
}
.grid-chat {
	grid-template-rows: auto 1fr auto;
}
.grid-chat-bottom-bar {
	grid-template-columns: 1fr auto;
}

/* Background puntinato */
.bg-dotted {
	@apply absolute inset-0 h-full w-full bg-gray-200 bg-[radial-gradient(#bbbbbb_1px,transparent_1px)] [background-size:16px_16px];
}

.dark .bg-dotted {
	@apply bg-background bg-[radial-gradient(#616161,transparent_1px)] ;
}

/* Vetro trasparente */
.glass {
	@apply h-full rounded-t-3xl bg-white bg-opacity-80 bg-clip-padding p-4 backdrop-blur-3xl backdrop-filter;
}

.logo {
	max-width: 80%;
	max-height: 80px;
	display: none;
}

.light-mode {
	display: block;
}

.dark .light-mode {
	display: none;
}

.dark-mode {
	display: none;
}

.dark .dark-mode {
	display: block;
}

.text-gray {
	color: #333333;
}

.dark .text-gray {
	color: white;
}

.dark input::placeholder {
	color: white;
}

.bg-white {
	background-color: hsl(0, 0%, 98%);
	color: black;
}

.dark .bg-white {
	background-color: #333333;
	color: white;
}

.bg-gray {
	@apply bg-gray-200;
	color: black;
}

a.bg-gray{
	background-color: #eeeeee;
	color: black;
}

a.bg-gray:hover,
button.bg-gray:hover {
	background-color: #dadada;
}

.dark .bg-gray {
	background-color: #4a4a4a;
	color: white;
}

.dark a.bg-gray:hover,
.dark button.bg-gray:hover,
.dark a:hover .bg-gray {
	background-color: #5d5d5d;
}

a:hover .bg-gray {
	background-color: #eeeeee;
}
